@layer components {
  section[class^="section-"] {
    --section-body-gap: 12px;
    --section-indent: 2px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .section-title {
    font-size: 0.95rem;
    font-weight: 700;
    color: #000;
    padding-bottom: 6px;
    line-height: 1.25;
  }

  .section-line {
    border-top: 1px solid var(--gray-400);
    margin-left: 4px;
    margin-bottom: 0;
    width: 87.5%;
  }

  .section-text {
    font-size: 0.875rem;
    color: var(--gray-800);
    line-height: 1.25;
  }

  .section-body {
    display: flex;
    flex-direction: column;
    gap: var(--section-body-gap);
    padding-left: var(--section-indent);
  }

  .section-skills {
    margin-top: 3.5rem;
    --section-body-gap: 24px;
    --section-indent: 0;
  }

  .section-education {
    --section-body-gap: 8px;
  }

  .section-talks {
    --section-body-gap: 8px;
  }
}
